[Unit]
Description=Shared home using dynexecfs over raw vboxsf
ConditionVirtualization=oracle
ConditionPathExists=!/etc/mersdk/share/home-mersdk-share.no-dynexec
After=etc-mersdk-share.service

[Service]
Type=simple
WorkingDirectory=/
EnvironmentFile=-/etc/mersdk.env.systemd
EnvironmentFile=-/etc/login.defs.systemd
ExecStartPre=/bin/mkdir -p /home/mersdk/share /home/mersdk/.share.raw
ExecStartPre=/bin/mount -t vboxsf -orw,exec,uid=${UID_MERSDK},gid=${GID_MERSDK},dev,ttl=200,fmode=${FMODE_HOME_MERSDK},dmode=${DMODE_HOME_MERSDK} home /home/mersdk/.share.raw
ExecStart=/usr/bin/dynexecfs -f -o uid=${UID_MERSDK},gid=${GID_MERSDK},allow_other,${DYNEXECFS_FLAGS},root=/home/mersdk/.share.raw /home/mersdk/share
TimeoutSec=90

[Install]
WantedBy=basic.target
