[Unit]
Description=Home for QtCreator 

[Service]
Type=oneshot
WorkingDirectory=/
EnvironmentFile=-/etc/mersdk.env.systemd
EnvironmentFile=-/etc/login.defs.systemd
ExecStartPre=/bin/mkdir -p /home/mersdk/share
ExecStart=/bin/mount -t vboxsf -orw,exec,uid=${UID_MERSDK},gid=${GID_MERSDK},dev,ttl=200 home /home/mersdk/share
TimeoutSec=90

[Install]
WantedBy=basic.target
