[Unit]
Description=Shared home using dynexecfs over raw bind mount under Docker
ConditionVirtualization=docker
ConditionPathExists=/dev/fuse
ConditionPathExists=!/etc/mersdk/share/home-mersdk-share.no-dynexec

[Service]
Type=simple
WorkingDirectory=/
EnvironmentFile=-/etc/mersdk.env.systemd
EnvironmentFile=-/etc/login.defs.systemd
ExecStartPre=/bin/mkdir -p /home/mersdk/.share.raw
ExecStartPre=/bin/mount --move /home/mersdk/share /home/mersdk/.share.raw
ExecStart=/usr/bin/dynexecfs -f -o uid=${UID_MERSDK},gid=${GID_MERSDK},allow_other,${DYNEXECFS_FLAGS},root=/home/mersdk/.share.raw /home/mersdk/share
TimeoutSec=90

[Install]
WantedBy=basic.target
