#  This file is part of Sailfish SDK.
#  It provides support for automatically resizing the root filesystem

[Unit]
Description=Resize rootfs

[Service]
Type=oneshot
ExecStart=/usr/bin/resize-rootfs

[Install]
WantedBy=basic.target
