#  This file is part of Sailfish SDK.
#
[Timer]
# Refresh 5 minutes after booting or every day if left running
# The refresh service will ensure it does not run more than once#
# a day
OnActiveSec=1d
OnStartupSec=5m

[Unit]
Description=SDK Engine Refresh service

[Install]
WantedBy=multi-user.target
