#  This file is part of Sailfish SDK.
#

[Unit]
Description=SDK Engine LAN
# We need the shared mount and we should setup after connman is available
After=etc-mersdk-share.service connman.service

[Service]
Type=oneshot
Environment=HOME=/root
WorkingDirectory=/root
ExecStart=/usr/bin/sdk-setup-enginelan

[Install]
WantedBy=multi-user.target
