[Unit]
Description=Workspace #%i shared using dynexecfs over raw vboxsf
PartOf=workspace.service
# FIXME needs systemd v246
#ConditionEnvironment=SAILFISH_SDK_SRC%i_MOUNT_POINT
ConditionVirtualization=oracle
ConditionPathExists=!/etc/mersdk/share/workspace%i.no-dynexec
After=etc-mersdk-share.service
After=sdk-setup-env.service

[Service]
Type=simple
WorkingDirectory=/
EnvironmentFile=-/etc/mersdk.env.systemd
EnvironmentFile=-/etc/login.defs.systemd
ExecStartPre=/bin/mkdir -p ${SAILFISH_SDK_SRC%i_MOUNT_POINT}
ExecStartPre=/bin/mkdir -p ${SAILFISH_SDK_SRC%i_MOUNT_POINT}.raw
ExecStartPre=/bin/mount -t vboxsf -orw,exec,uid=${UID_MERSDK},gid=${GID_MERSDK},dev,ttl=200,fmode=${FMODE_HOME_MERSDK},dmode=${DMODE_HOME_MERSDK} src%i ${SAILFISH_SDK_SRC%i_MOUNT_POINT}.raw
ExecStart=/usr/bin/dynexecfs -f -o uid=${UID_MERSDK},gid=${GID_MERSDK},allow_other,${DYNEXECFS_FLAGS},root=${SAILFISH_SDK_SRC%i_MOUNT_POINT}.raw ${SAILFISH_SDK_SRC%i_MOUNT_POINT}
TimeoutSec=90
Slice=system.slice
