[Unit]
Description=Home for QtCreator 

#[Mount]
#What=home
#Where=/home/mersdk
#Type=vboxsf
#EnvironmentFile=-/etc/mersdk.env.systemd
#EnvironmentFile=-/etc/login.defs.systemd
#Options=rw,exec,uid=$UID_MERSDK,gid=$GID_MERSDK,dev,ttl=200,fmode=755,dmode=755
#DirectoryMode=755
#TimeoutSec=10

[Service]
Type=oneshot
WorkingDirectory=/
EnvironmentFile=-/etc/mersdk.env.systemd
EnvironmentFile=-/etc/login.defs.systemd
ExecStartPre=/bin/mkdir -p /home/mersdk
ExecStart=/bin/mount -t vboxsf -orw,exec,uid=${UID_MERSDK},gid=${GID_MERSDK},dev,ttl=200,fmode=755,dmode=755 home /home/mersdk
TimeoutSec=10

[Install]
WantedBy=basic.target
